root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
max_line_length = 140

[*.js]
ij_javascript_enforce_trailing_comma = whenmultiline
ij_javascript_force_semicolon_style = true
ij_javascript_spaces_within_brackets = true
ij_javascript_spaces_within_imports = true
ij_javascript_spaces_within_object_literal_braces = true

[*.md]
max_line_length = off
